.createGroup-form-container {
    width: 80%;
    margin: 0 auto;
}

.createGroup-form-section-container {
    border-bottom: 1px solid #707070;
}

.createGroup-teal {
    color: #00798A;
}

.createGroup-form-input {
    width: 315px;
    margin-bottom: 20px;
}

.create-button {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
    color: white;
    background-color: red;
    box-shadow: 5px 5px 5px #778899;
}
