/* teal: #00798A
    gray: #707070 */
.groupsList-container {
    width: 50%;
    margin: 0 auto;
}

.groupsList-header-container {
    border-bottom: 1px solid #707070;
    /* border-bottom: 1px solid #E6E6E6; */
}

.groups-events-links-container {
    display: flex;
    gap: 20px;
}

.groupsLink {
    color: #00798A;
}

.eventsLink {
    color: #707070;
    text-decoration: none;
}

.group-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 30px 0;
    border-bottom: 1px solid #707070;
    /* border-bottom: 1px solid #E6E6E6; */
}

.group-container img {
    width: 250px;
}

.groupText-name {
    color: black;
    text-decoration: none;
}

.groupText-location {
    color: #7C6F50;
    text-decoration: none;
}

.groupText-about {
    color: #70747D;
    text-decoration: none;
}
