.landing-container {
    width: 60%;
    margin: 0 auto;
}

.landing-section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
}

.landing-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 40px auto 0;
    text-align: center;
}

.landing-section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60%;
    margin: 40px auto 0;
}

.landing-section-3-links {
    text-align: center;
}

.landing-link-teal {
    color: #00798A;
    text-decoration: none;
}
