header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E6E6E6;
}

nav {
    display: flex;
    gap: 20px
}

.logo-container img {
    width: 125px
}

.start-group-link {
    color: #00798A;
    text-decoration: none;
}

.user-button {
    font-size: 40px;
    margin-top: 10px;
}
